.form-container {
  margin: 4rem 6rem;
  color: black;
}
form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  margin: auto;
}
form input {
  height: 3rem;
  border-radius: 7px;
  padding: 0 1rem;
}

form textarea {
  border-radius: 7px;
  padding: 0 1rem;
}

.send {
  width: 200px;
  margin: auto;
  font-size: 1.3rem;
  height: 50px;
  border-radius: 7px;
  cursor: pointer;
}
.send:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 850px) {
  .form-container {
    margin: 4rem 2rem;
  }
  form {
    width: 90%;
  }
}
